#first{
    background-color: aqua;
    color: blue;
}
#second{
    background-color: black;
    color: azure;
}
.third{
    background-color:goldenrod;
    color: beige;
}
#fourth{
    background-color: aquamarine;
    color: brown;
}
#fifth{
    background-color: blue;
    color: azure;
}
#sixth{
    background-color: blue;
}
#seventh{
    background-color: blueviolet;
}